@{
    ViewData["title"] = "login";
}

<div class="row d-flex w-100 justify-content-center">
    <div class="col-lg-6 p-3 border border-rounded">
        <h1>login</h1>
        <form method="post" asp-controller="Auth" asp-action="Login" class="d-flex flex-column gap-2">
            <label>Email</label><input type="text" class="w-100"> 
            <label>Password</label><input type="password" class="w-100">
            <button class="btn-success btn">Login</button>
        </form>
    </div>
</div>