@model FoodModel

@{
    ViewData["Title"] = "About " + Model.Name;
}

<div class="text-center">
    <div class="border border-dark w-100 border-rounded">
        <img src="@Model.ImageUrl" alt="" class="w-100">
        <h2>Name: @Model.Name</h2>
        <p>price: @Model.Price</p>
        <p>description: @Model.Description</p>
        
    </div>
</div>
